{% extends "main_template.html" %} {% block content %}
<!-- Cards -->
<div class="row mt-5">
  <div class="col">
    <div class="col-md">
      <div class="card text-center text-black mb-3">
        <div class="card-header">
          <h5 class="card-title">Cliente:</h5>
        </div>
        <div class="card-body">
          <div class="d-grid gap-2">
            <a href="" class="btn btn-outline-primary">Atualizar Cliente</a>
            <a href="" class="btn btn-outline-primary">Marcar consulta</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="col-md">
      <div class="card text-black mb-3">
        <div class="card-header text-center">
          <h5 class="card-title">Informações de contato</h5>
        </div>
        <div class="card-body">
          <div class="d-grid">
            <p><strong>Email:</strong> {{ customer.email }}</p>
            <p><strong>Whatsapp:</strong> {{ customer.phone }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="col-md">
      <div class="card text-center text-black mb-3">
        <div class="card-header">
          <h5 class="card-title">Total de Consultas</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title">7</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5 justify-content-center">
  <div class="col">
    <h4>HISTÓRICO DE CONSULTAS</h4>
    <hr />
    <div class="card card-body">
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th>Serviço</th>
            <th>Categoria</th>
            <th>Status do pagamento</th>
          </tr>
        </thead>
        <tbody class="table-primary">
          {% for order in customer_orders %}
          <tr>
            <td>{{ order.service_id }}</td>
            {% if order.service_id.category == "Doctor" %}
            <td>Médico</td>
            {% else %}
            <td>Advogado</td>
            {% endif %} {% if order.payment_status == "Pending" %}
            <td>Pendente</td>
            {% else %}
            <td>Pago</td>
            {% endif %}
            <td><a class="btn btn-sm btn-warning" href="">Atualizar</a></td>
            <td><a class="btn btn-sm btn-danger" href="">Cancelar</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
