{% extends "main_template.html" %} {% block content %}
<div class="row justify-content-md-center mt-3">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <form action="/cliente/create" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="name" class="form-label">Nome</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              required
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              required
            />
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Whatsapp</label>
            <input
              type="tel"
              class="form-control"
              id="phone"
              name="phone"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">
            Adicionar Cliente
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
